.countryContainer {
  @media (min-width: 992px) {
    padding-top: 4rem;
  }
  @media (max-width: 992px) {
    padding: 0 0.5rem;
  }
  .imageContainer {
    @media (min-width: 992px) {
      margin-right: 4rem;
    }
    @media (max-width: 992px) {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
    .imageWrapper {
      height: 50vh;
      @media (max-width: 992px) {
        height: 30vh;
      }
      width: 100%;
      position: relative;
      > div {
        position: unset !important;
      }
      .image {
        object-fit: contain;
        width: 100% !important;
        height: unset !important;
      }
    }
  }

  .informationContainer {
    .titleWrapper {
      margin-bottom: 1rem;
      .title {
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .detailsWrapper {
      @media (max-width: 992px) {
        margin-bottom: 3rem;
      }
      .detail {
        p {
          margin: 0;
          margin-bottom: 0.5rem;
          .detailTitle {
            font-weight: 600;
          }
        }
      }
    }

    .borderWrapper {
      @media (min-width: 992px) {
        margin-top: 2rem;
      }
      .borderInnerDiv {
        @media (min-width: 992px) {
          margin-left: 1rem;
        }
      }
      .btnBorder {
        box-shadow: 0px 0px 3px rgb(176, 176, 176);
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        @media (max-width: 992px) {
          margin-bottom: 1rem;
        }
        border-radius: 0;
        padding: 0.2rem 1rem;
      }
    }
  }
}
