@import "./colors.module";
@import "bootstrap";

body {
  background-color: hsl(0, 0%, 98%);
  a,p,h1,span{
    color:$darkFont;
  }
}

.dark {
  body {
    background-color: hsl(207, 26%, 17%) !important;
    color: white !important;
    a,
    p,
    h1,
    span {
      color: white !important;
    }
    .theming-bg-dark,
    .form-select,
    .input-group-text,
    input {
      box-shadow: none !important;
      background-color: hsl(209, 23%, 22%) !important;
      color: white;
      border:none;
    }

    .btn-outline-dark {
      color: white !important;
      box-shadow: 0 2px 4px black;
    }
  }
}
